@if (visible()) {
    <div class="modal fade show d-block" tabindex="-1" role="dialog" style="background-color: rgba(0,0,0,0.5)">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0 shadow">
          <div class="modal-header">
            <h5 class="modal-title">
              {{ mode() === 'create' ? 'Nueva Línea' : 'Editar Línea' }}
            </h5>
            <button type="button" class="btn-close" (click)="close()"></button>
          </div>
    
          <div class="modal-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input class="form-control" formControlName="name" />
                @if (form.get('name')?.touched && form.get('name')?.invalid) {
                    <div class="text-danger small">
                      El nombre es requerido.
                    </div>
                }
              </div>
    
              <div class="mb-3">
                <label class="form-label">Descripción</label>
                <textarea class="form-control" formControlName="description"></textarea>
              </div>
    
              <div class="mb-3">
                <label class="form-label">Marca</label>
                <select class="form-select" formControlName="marcaId">
                    <option value="">Seleccionar marca</option>
                    @for (brand of brands(); track brand.id) {
                      <option [value]="brand.id">{{ brand.nombre }}</option>
                    }
                  </select>
                @if(form.get('brandId')?.touched && form.get('brandId')?.invalid){
                    <div class="text-danger small">
                      La marca es requerida.
                    </div>
                }
              </div>

            <div class="mb-3">
            <label class="form-label">Imagen</label>
            <input type="file" accept="image/*" class="form-control" (change)="onFileSelected($event)" />

            @if (imagePreview()) {
              <div class="mt-2 text-center">
                <img [ngSrc]="imagePreview()!" alt="Vista previa" class="img-thumbnail" style="max-height: 120px;" />
              </div>
            }
          </div>
            </form>
          </div>
    
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="close()">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="form.invalid">
              {{ mode() === 'create' ? 'Crear' : 'Guardar' }}
            </button>
          </div>
        </div>
      </div>
    </div>
}
